.venv/
node_modules/
k=2.ipynb
package-lock.json
package.json
__pycache__/
.DS_Store
.ipynb_checkpoints/
*.pyc

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
texput.log

# Ensure main.pdf is NOT ignored
!**/main.pdf
2023/
